.login {
    width: 300px;
    padding: 20px;
    background: lightgrey;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
}
.login h2 {
    margin-bottom: 20px;
    text-align: center;
}
.login input {
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.login button:hover {
    background: #0056b3;
}

small {
    color: red;
}