<div class="login-container">
    <mat-card class="login-card">
      <mat-card-title>Login</mat-card-title>
  
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  
          <mat-form-field>
  
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" placeholder="Ex. hello@example.com">
  
              <mat-error *ngIf="email?.hasError('required')">Email is required.</mat-error>
              <mat-error *ngIf="email?.hasError('email')">Invalid email.</mat-error>
  
          </mat-form-field>
  
          <mat-form-field>
  
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password" placeholder="********">
  
              <mat-error *ngIf="password?.hasError('required')">Password is required.</mat-error>
  
          </mat-form-field>
  
          <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Login</button>
  
      </form>
  
      </mat-card>
  </div>